h1, h2, h3, h4 {
	font: normal 1em/1.5em 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	color: #555;
	margin: 0;
        padding: 0;
}
h1 a, h2 a, h3 a, h4 a {color: #333;}
h1 { font-size: 3.2em; font-weight: bold; letter-spacing: -2px; color: #333;}
h2 { font-size: 1.8em ; }
h3 { font-size: 1.6em; letter-spacing: -0.5px; padding-top: 15px; }
h4 { font-size: 1.2em; }